<div class="container">
	<div class="contacto">
		<h2>Estudio fotográfico - Azul Fotógrafos</h2>
		<span class="cabecera">Dirección: </span><span class="contenido">Calle de las eras número 5 piso 3ºB</span><br />
		<span class="cabecera">Población: </span><span class="contenido">Alcorcón, Madrid</span><br />
		<span class="cabecera">Código postal: </span><span class="contenido">28921</span><br />
		<span class="cabecera">Teléfono: </span><span class="contenido">916102900 / 600417461</span><br />
	</div>



	<div class="contacto">
		<h2>Punto de venta - Azul Regalos</h2>
		<span class="cabecera">Dirección: </span><span class="contenido">Calle jaboneria número 8</span><br />
		<span class="cabecera">Población: </span><span class="contenido">Alcorcón, Madrid</span><br />
		<span class="cabecera">Código postal: </span><span class="contenido">28921</span><br />
		<span class="cabecera">Teléfono: </span><span class="contenido">916109789</span><br />
	</div>
	
	<div class="contacto">
		<h2>Diseño de páginas web - Actividad informática Actemil</h2>
		<span class="cabecera">Dirección: </span><span class="contenido">Avenida de los carabancheles 8</span><br />
		<span class="cabecera">Población: </span><span class="contenido">Alcorcón, Madrid</span><br />
		<span class="cabecera">Código postal: </span><span class="contenido">28921</span><br />
		<span class="cabecera">Teléfono: </span><span class="contenido">916102900</span><br />
		<span class="cabecera">Correo electrónico: </span><span class="contenido">laboratorio@actemil.com</span><br />
	</div>
	
</div>