
<div class="container">
	<%if @galeria%>
		<div class="container">
			<h2><%=@galeria[1]%></h2>
			<%for foto in @galeria[0]%>
				<a href="foto/<%=foto.id%>"><%= image_tag foto.image.url(:med), :alt => foto.descripcion%></a>
			<%end%>
			<p><%=@galeria[2]%></p>
		</div>
		<br />
	<%end%>
</div>
