<div class="container">
	<%if @categorias%>
		<%for categoria in @categorias%>
			<div class="categoria">
				<%= image_tag categoria.image.url(:med), :alt => categoria.descripcion, :class => "img-categoria"%>
				<div class="txt-categoria"><span><%=categoria.titulo%></span></div>
			</div>
		<%end%>
	<%end%>
</div>
