<br /><br />
<footer class="navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<p>© Todos los derechos reservados</p>
			</div>
		</div>
	</div>
</footer>
