<br /><br />
<footer class="navbar-fixed-bottom">
	<div class="container" style="background-color:white; width:100%">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				Pie de pagina
			</div>
		</div>
	</div>
</footer>
